@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
}

input {
  padding: 4px;
}

#header {
  font-variant: small-caps;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.75em;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content auto;
}

#search {
  grid-row-start: 1;
  grid-row-end: 2;
}

#search-form {
  padding: 1.5rem;
  padding-top: 0;
}

#submit {
  width: 100%;
  margin-top: 1rem;
}

#reset {
  width: 100%;
  margin-top: 0.5rem;
}

#result {
  grid-row-start: 2;
  grid-row-end: 3;
  display: fleX;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
  border-radius: 6rem 6rem 0 0;
  border: 1px solid lightslategray;
  box-shadow: lightslategray 0px 0px 1rem;
}

#result-text {
  width: 90%;
  height: max-content;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6rem;
  padding: 2rem;
  box-shadow: 0 0 3rem 0.5rem lightslategrey;
  text-shadow: white 0px 0px 0.5em;
}

#result-text h1 {
  width: 75%;
  margin: auto;
}

#weather-type {
  text-transform: capitalize;
}

.good {
  background: url('./images/goodweather.jpg') no-repeat;
  background-size: cover;
  resize: both;
}

.bad {
  background: url('./images/badweather.jpg') no-repeat;
  background-size: cover;
  resize: both;
  color: black;
}

@media screen and (min-width: 900px) {
  #container {
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
  }

  #search {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #result {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2rem;
    border-radius: 5rem 0 0 5rem;
  }

  #result-text {
    border-radius: 5rem;
    width: 75%;
    font-size: 1.25rem;
  }
}
